<div class="layout">
  <div class="menu">
    <div class="title">
      <div>Русский</div>
      <div>English</div>
    </div>
    <div class="select"></div>
  </div>
  <div class="letters">
    <div *ngFor="let letter of letters1;">
      <div class="letter-container" [class.select-letter-container]="letter.title == currentLetter.title">
        <div class="letter" [class.select-letter]="letter.title == currentLetter.title" (click)="changeLetter(letter)">{{letter.title}}</div>
      </div>
    </div>
  </div>
  <div class="letters">
    <div class="letter-container" *ngFor="let letter of letters2;" [class.select-letter-container]="letter.title == currentLetter.title">
      <div class="letter" (click)="changeLetter(letter)" [class.select-letter]="letter.title == currentLetter.title">{{letter.title}}</div>
    </div>
  </div>
  <div class="select-letter">{{currentLetter.title}}</div>
  <div class="content-container">
    <letter [letter]="currentLetter.title"></letter>
  </div>
</div>