<ng-container *ngIf="letter === 'А'">
    <div class="content-box">Абсолютная ссылка — это ссылка, в которой содержится полный URL адрес страницы, на которую
        он ссылается</div>
    <div class="content-box m-t-24">Аккаунт — личный вход пользователя в различные системы интернета, состоящий, как
        правило, из имени пользователя и пароля.</div>
    <div class="content-box m-t-24">Анкор ссылки — это попросту текст ссылки, или анкор ссылки, как его ещё называют.
        Произошло это слово от английского слова anchor, которое означает «ссылка». </div>
</ng-container>
<ng-container *ngIf="letter !== 'А' && letter !== 'П'">
    Ничего не найдено
</ng-container>
<ng-container *ngIf="letter === 'П'">
    <div class="content-box">Портал - Интернет-сайт, предоставляющий максимально широкий спектр услуг и информации:
        поиск информации, бесплатная электронная почта, новостная лента,
        перечень ссылок на сетевые ресурсы и значительное собственное содержательное наполнение. </div>
    <div class="content-box m-t-24">Провайдер - поставщик доступа к Интернет. Это посредник между пользователями и
        телекоммуникационным оборудованием, необходимым для доступа к различным линиям связи.</div>
</ng-container>